@mixin hover($_property, $_toValue) {
  transition: #{$_property} 0.3s;
  &:hover {
    #{$_property}: $_toValue;
  }
}

@mixin main-text {
  color: $text-color-dark;
  font-weight: normal;
  font-size: 15px;
  line-height: 20px;
}

@mixin burger-item {
  background-color: $burger-color;
  height: 1px;
  width: 22px;
}
