$c-gray: #eee;
$bgc-main: #fff;
$bgc-main-2: #f6f7f9;
$bgc-searchbar: #003b56;
$bgc-about: #5495ef;
$button-color: #5495ef;
$text-color-dark: #414042;
$text-color-light: #fff;
$placeholder-c: #414042;
$search-border-color: #c4c4c4;
$burger-color: #828282;

$hover-color: #5495ef;
$hover-cabinet: #2c7ceb;

$lang-color: #828282;
$active-lang-color: #01a4a6;

$container-max-width: 1366px;
$container-padding: 0 98px;
